.dias {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.dia {
    background-color: var(--bg-secondary);  
    display: grid;
    padding: 0 1rem;
    grid-template-columns: 33% 33% 33%;
    border-radius: .2rem;
}

.chave {
    font-weight: 700;
}

.liquido {
    color: var(--brand-green);
}

.bruto {
    color: var(--brand-red);
}

.tituloTabela {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var(--bg-secondary);
    border-radius: .2rem;
}

.tituloTabela h1 {
    margin: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

.data{
    text-align: center;
    font-size: 3rem;
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 1rem 0;
}

@media (max-width: 720px) {
    .dia {
        font-size: 1.5rem;
    }

    .tituloTabela {
        padding-bottom: 1rem
    }
}

@media (max-width: 720px) {
    .dia {
        font-size: 1.5rem;
    }

    .tituloTabela {
        padding-bottom: 1rem
    }
}